.license-header{
    height: 50px;
    width: 100%;
}

.select-icon{
    width: 11px;
	height: 7px;
    background-position: -158px -249px;
}
.display-icon{
    width: 20px;
    height: 15px;
    background-position: -22px -421px;
}
.delete-icon{
    width: 18px;
    height: 18px;
    background-position: -463px -111px;

}
.export-icon{
    width: 18px;
    height: 18px;
    background-position: -331px -67px;
}
.dot-icon{
    width: 3px;
    height: 13px;
    background-position: -383px -26px;
}
.input-search{
    width: 350px;
}
.license-action{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-btn{
    display: flex;
}
.icon-select{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

}
.icon-display{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);    ;
    position: relative;
}
.display-icon-y{
    border-radius: 4px;
    position: absolute;
    height: 36px;
    width: 36px;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-display-y{
    z-index: 1000;
    width: 20px;
	height: 15px;
    background-position: -110px -420px;
}
