.btn__action{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    /* display: none; */


}
.actions__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__edit{
 background-position:  -146px -68px;
 width: 40px;
}
.btn__nhanban{
    width: 40px;
    background-position: -234px -112px;
}