.input-checkbox {
    width: 50px;
    height: 39px;
    border: 0px solid #b8b8b8;
    align-self: center;
    cursor: pointer;
    accent-color: #3395FF;
}
.input-checkbox input{
    width: 16px;
    height: 16px;
}
