.combobox {
    background-color: #ffffff;
    border-radius: 2.5px;
    position: relative;
}

.body__combobox {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    z-index: 10;
    max-height: 200px;
    overflow-x: auto;
    margin-top: 1px;

}

.body__combobox::-webkit-scrollbar {
    width: 7px;

}

.body__combobox::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    border-radius: 4px;
}

.item__combobox {
    font-family: MISA__Regular;
    display: flex;
    border-radius: 4px;
    height: 32px;
    align-items: center;
    padding: 0 7px;
}

.item__combobox:hover {
    cursor: pointer;
    background-color: rgba(80, 184, 60, 0.1);
}

.show {
    display: block;
}