.table__assets {
  border-collapse: collapse;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;

}

.table__assets td,
.able__assets th {
  border: 0px solid #ddd;
  padding: 0px 0px;
}

.header__table {
  margin: 0;
  padding: 0;
  outline: 0.5px solid #c7c7c7;
  height: 34px;
  font-size: 12px;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-actions{
  background-color: #f5f5f5;
}
.The-actions {
  height: 39px;
  right: 0px;
  position: sticky;
  /* background-color: #ffffff; */

}
.The-actions button{
  display: block;
  
  
}

.Last_row {
  background-color: #FFFFFF;
  left: 0px;
  bottom: -2px;
  position: sticky;
}
.drop__paging{
  width: 59px;
}
.item__table{
  cursor: pointer;

}
.item__table:hover{
  background-color: #d1edf4;
}
.row__selected {
  background-color: #d1edf4;
}
