
.icon24{
    width: 24px;
    height: 24px;
}
.icon16{
    width: 16px;
    height: 16px;
}
.icon26{
    width: 26px;
    height: 26px;
}
.icon36{
    width: 36px;
    height: 36px;
}
.icon20{
    width: 20px;
    height: 20px;
}
.icon48{
    width: 48px;
    height: 48px;
}