.hide-icon input::-webkit-outer-spin-button,
.hide-icon input::-webkit-inner-spin-button {
    margin-left: 5px;
    font-size: 20px;
    opacity: 1;

}
.hide-icon-number input::-webkit-outer-spin-button,
.hide-icon-number input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0px !important;

}
.base-input{
    min-width: 200px;
}
input[type="text"]
{
    font-weight: 400;
    font-size: 14px;
}
.toolbar-filter-text {
    height: 35px;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.content-input {
    font-weight: 500;
}

.input-icon-sreach {
    margin-left: 6px;
    background-position: -243px -20px;
}
.input__icon__filter {
    margin-left: 6px;
    background-position: -243px -64px;
}

.input {
    
    height: 14px;
    width: 100%;
    outline: none;
    border: 0px solid #DBDEFF;
    padding: 0 12px;

}

::placeholder{
    font-weight: 400;
    font-size: 14px;
}
.toolbar-filter-text-focus {
     border: 1px solid#5DC748;

}

.toolbar-filter-text-erro {
    border: 1px solid red;

}

.erro {
    color: red;
    margin-top: 2px;
}
.combobox-icon__right:hover{
    background-color: #afafaf;
}
.combobox-icon__right {
    background-position: -65px -328px;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border: unset;
    background-color: transparent;


}
.disabledInput{
    background-color: rgb(239,239,239);
}
