.loading{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(16, 1, 1, 0.523);
    

}

.loading-content{
    position: absolute;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #1aa4c8;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    top: 47.5%;
    left: 47.5%;    

}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
