@import url(dataTable.css);
.table{
    height: calc(100vh - 173px);
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16)
  }
*::-webkit-scrollbar{
    width: 5px;
    height: 7px;
    
}
*::-webkit-scrollbar-track {
  background-color: #f4f7ff;
}
*::-webkit-scrollbar-thumb{
    background-color: #9E9E9E;
    border-radius: 4px;
}
/* table th:hover{
  resize: horizontal;
  overflow: hidden;
} */
.disabled-next{
  cursor: not-allowed !important;
}
th,
td {
  padding: 0 10px !important;
  text-align: left;
  height: 39px;
  
}

tr {
    border-bottom: 0.5px solid #afafaf;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}
.first-column {
  
  border-left-width: 0px;
  border-right-width: 0px;

  left: 0px;
  position: sticky;
}
.header-table .first-column{
  background-color: #f5f5f5;
  z-index: 10;  
  border-left-width: 0px;
  border-right-width: 0px;
}






