@import url(dataTable.css);
.table{
    height: calc(100vh - 173px);
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16)
  }
.table::-webkit-scrollbar{
    width: 5px;
    height: 7px;
    
}
.table::-webkit-scrollbar-thumb{
    background-color: #9E9E9E;
    border-radius: 4px;
}

th,
td {
  text-align: left;
  height: 39px;
  
}

tr {
    border: 0.5px solid #afafaf;

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.first-column {
  left: 0px;
  position: sticky;
}






