.messing button {
    padding: 6px 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;

}

.messing {
    z-index: 10000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
}

.content{
    padding: 32px 32px 6px 32px;
}
.messing-content {
    position: relative;
    background-color: #FFF;
    min-width: 444px;
    width: 444px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;

}



/* icon error */
.icon-message .icon-error {
    background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat -598px -463px;
}


.message-title {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 12px;
}


/* erro  list btn*/
.footer-error {
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    background-color: #e5e5e5;
    height: 50px;
}

.footer-error .btnError-close {

    color: #fff;
    background-color: #1aa4c8;

}

/* cảnh báo  list btn*/
.footer-warning {
    padding-right: 10px;
    height: 50px;
    background-color: #e5e5e5;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;
}

.footer-warning .btnWarn-close {

    color: #000;
    border: 1px solid #000;
    margin-right: 10px;

}



/* thông báo  list btn*/
.footer-mesage {
    padding-right: 10px;
    height: 50px;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;
    background-color: #e5e5e5;
    column-gap: 10px;
}

.footer-mesage .footer-left {
    width: 60%;
}

.footer-mesage .footer-left .btnWarn-close {
        
    color: #000;
    border: 1px solid #000;

}

.footer-mesage .footer-right {
    flex-direction: row-reverse;
    width: 40%;
    margin-left: 30px;
}

.footer-mesage .footer-right .btnWarn-Yes {

    color: #fff;
    background-color: #1aa4c8;
    margin-left: 10px;

}

.footer-mesage .footer-right .btnWarn-close {
    margin-right: 10px;
    color: #000;
    border: 1px solid #000;

}
