@import url(body.css);
@import url(header.css);
@import url(menu.css);

.container {
    display: flex;
    flex-direction: row;
}

.the__body {
    background-color: #ffffff;
    width: calc(100% - 240px);
}

.the__body__mini {
    
    width: calc(100% - 106px) !important;
}

