.body {
    width: 100%;
    height: calc(100% - 44px);
    padding: 0 20px;
    background-color: #f4f7ff;
}

.toolbar {
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toolbar-filter {
    height: 35px;
    display: flex;
    flex-direction: row;


}

.toolbar-action{
    display: flex;
    flex-direction: row;
}
.btn-export{
    background-position:  -278px -100px;
    margin-left: 10px;
}
.btn__delete{
    background-position: -454px -100px;
    margin-left: 10px;
}
.toolbar-filter__dropdown__assets{
    width: 219px;
    margin-left: 10px;
}
