.the__menu {
    width: 200px;
    background-color: #1c3048;
    height: 100vh;
    position: relative;
}

.the__menu__mini{
    width: 66px !important;
}
.menu-item__bottom{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}


.menu-item__all {
    border-radius: 4px;
    height: 44px;
    display: flex;
    margin: 4px 12px 0 12px;
}
.menu-item__all:hover{
    background-color: #1aa4c8;
}
.menu__select{
    background-color: #1aa4c8;
}

.menu-item___icon {
    width: 66px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu__content {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.menu-item-home__icon {
    width: 36px;
    height: 36px;
    background: -20px -680px;
}
.menu-item-overview__icon {
    background: -21px -153px;

}

.menu-item-assets__icon {

    background-position: -65px -197px;
}

.menu-item-assets--HTDB__icon {

    background: -110px -153px;
}

.menu-item-tools__icon {
    background: -153px -153px;
}

.menu-item-catagory__icon {
    background: -197px -153px;
}

.menu-item-search__icon {
    background: -241px -153px;
}

.menu-item-repost__icon {
    background: -329px -153px;

}

.content__menu {
    color: #ffffff;
}

.botton__menu {
    background-position: -285px -417px;
}

.combobox__button__right{
    transition: all 0.5s ease;
    transform: rotate(180deg);

}
