@import url(layout-view/layout.css);
@import url(./components/font.css);
@import url(./components/icon.css);
@import url(./components/input.css);
@import url(./components/dropdown.css);
@import url(./components/button.css);
@import url(./components/button__icon.css);
@import url(./components/table.css);
@import url(./components/checkbox.css);
@import url(./components/btn__action.css);
@import url(./components/paging.css);
@import url(./components/dialog/main__dialog.css);
@import url(./components/combobox.css);
@import url(./components/loading.css);
@import url(./components/message/message.css);

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    font-size: 13px;

}

.backgrsvg {
    background-image: url(../assets/icon/qlts-icon.svg);
    cursor: pointer;
}

a {
    text-decoration: none
}
.flex{
    display: flex;
}