@import url(layoutview/layout.css);
@import url(./components/font.css);
@import url(./components/icon.css);
@import url(./components/input.css);
@import url(./components/dropdown.css);
@import url(./components/button.css);
@import url(./components/buttonicon.css);
@import url(./components/table.css);
@import url(./components/checkbox.css);
@import url(./components/btnaction.css);
@import url(./components/paging.css);
@import url(./components/dialog/maindialog.css);
@import url(./components/combobox.css);
@import url(./components/loading.css);
@import url(./components/message/message.css);


body{
    overflow: hidden;
}
.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    font-family:MISA__Regular;
    padding: 0;
    font-size: 13px;
    

}

.backgrsvg {
    background-image: url(../assets/icon/qlts-icon.svg);
    cursor: pointer;
}
.backgrsvg-table {
    background-image: url(../assets/img/bg_report_nodata.76e50bd8.svg);
}

a {
    text-decoration: none
}
.flex{
    display: flex;
}
.default-theme.splitpanes--horizontal>.splitpanes__splitter, .default-theme .splitpanes--horizontal>.splitpanes__splitter{
    height: 4px !important;
}
table , tr , th , td{
    outline: none;
}
.box-shadowbl{
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);

}
.mx-icon-calendar{
    cursor: pointer;
}

.mx-icon-calendar:hover .mx-input{
    border-color: #5DC750 !important;
    
}
 /* cover css datetime thư viện */
 .date-input {
    width: 100% !important;
    height: 36px !important;
    margin-top: 8px;
    border: none !important;
  }
  .mx-datepicker-popup {
    z-index: 10000000 !important;
  }
  
  .mx-table-date td,
  .mx-table-date th {
    text-align: center;
  }